################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/115392 - Development/115392.Development.FormativeAssessment/115392.Development.FormativeAssessment/bin/Debug/netcoreapp3.1
/115392 - Development/115392.Development.FormativeAssessment/115392.Development.FormativeAssessment/obj
/115392 - Development/115392.Development.FormativeAssessment/115392.Development.FormativeAssessment.Tests/bin/Debug/netcoreapp3.1
/115392 - Development/115392.Development.FormativeAssessment/115392.Development.FormativeAssessment.Tests/obj
/115392 - Development/115392.Development.FormativeAssessment/.vs/115392.Development.FormativeAssessment
/Class Project/ChatApp/ChatApp/obj
/Class Project/ChatApp/ChatApp/bin/Debug/netcoreapp3.1
/Class Project/ChatApp/.vs/ChatApp
/Class Project/ChatApp/ChatApp.Domain/obj/Debug/netcoreapp3.1
/Class Project/ChatApp/ChatApp.Domain/bin/Debug/netcoreapp3.1
/Class Project/ChatApp/ChatApp.Data/bin/Debug/netcoreapp3.1
/Class Project/ChatApp/ChatApp.Data/obj
/Class Project/ChatApp/ChatApp.Domain/obj