################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/115392 - Development/115392.Development.FormativeAssessment/115392.Development.FormativeAssessment/bin/Debug/netcoreapp3.1
