/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*------------------------------------------------------*/
/*Custom css properties*/

.material-icons.md-30 {
    font-size: 30px;
}

.material-icons.md-70 {
    font-size: 70px;
}

.mousePointer {
    cursor: pointer;
}

.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    cursor: default;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 80px;
}

.info-box .icon i {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
}

.info-box.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 80px;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}

.info-box.hover-expand-effect:hover:after {
    width: 100%;
}

.info-box .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: 5px;
}

.info-box.hover-zoom-effect .icon {
    overflow: hidden;
}

.info-box.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.bg-limegreen {
    background-color: #32CD32 !important;
    color: #fff;
    cursor: pointer;
}

.bg-blue {
    background-color: #2e9fc7 !important;
    color: #fff;
    cursor: pointer;
}

.bg-yellow {
    background-color: #E0E40C !important;
    color: #fff;
    cursor: pointer;
}

.bg-purple {
    background-color: #8016F0 !important;
    color: #fff;
    cursor: pointer;
}

.bg-red {
    background-color: #E11517 !important;
    color: #fff;
    cursor: pointer;
}

.bg-orange {
    background-color: #F08716 !important;
    color: #fff;
    cursor: pointer;
}

.modal-col-blue-grey {
    background-color: #6aa0cb;
}

.modal-col-blue-grey .modal-body,
.modal-col-blue-grey .modal-title {
    color: #fff !important;
}

.modal-col-blue-grey .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-blue-grey .modal-footer .btn-link {
    color: #fff !important;
}

.modal-col-blue-grey .modal-footer .btn-link:hover, .modal-col-blue-grey .modal-footer .btn-link:active, .modal-col-blue-grey .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
}

/*-------------------------------------*/
/*Custom Padding*/
.md-Padding-Top-10 {
    padding-top: 10px;
}

.md-Padding-Top-50 {
    padding-top: 50px;
}

.md-Padding-Top-100 {
    padding-top: 100px;
}
/*-------------------------------------*/

.full-width {
    width: 100%;
}