@{
    ViewData["Title"] = "ChatApp";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-1 icon">
        <i class="material-icons md-70">vertical_split</i>
    </div>
    <div class="col-md-4">
        <h1 class="display-4">Dashboard</h1>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <div id="divViewUsers" title="View & Search for Users" onclick="Navigate(id)">
            <div class="info-box bg-limegreen hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">group</i>
                </div>
                <div class="content">
                    <div class="material-icons-font">Users</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="divChannels" title="View & Send Messages On Channels" onclick="Navigate(id)">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">cast</i>
                </div>
                <div class="content">
                    <div class="material-icons-font">Channels</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="divPrivateChats" title="View & Resume Private Chats" onclick="Navigate(id)">
            <div class="info-box bg-yellow hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">https</i>
                </div>
                <div class="content">
                    <div class="material-icons-font">Private Chats</div>
                    <div class="material-icons-font"><b>10</b></div>@*Temp KPI Indicator For Illustration*@ 
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div id="divJoinedChannels" title="View Joined Channels That You Are Part Of." onclick="Navigate(id)">
            <div class="info-box bg-purple hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">cast_connected</i>
                </div>
                <div class="content">
                    <div class="material-icons-font">Joined Channels</div>
                    <div class="material-icons-font"><b>15</b></div> @*Temp KPI Indicator For Illustration*@
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="divMyChannels" title="View Channels Created By Me." onclick="Navigate(id)">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">star_border</i>
                </div>
                <div class="content">
                    <div class="material-icons-font">My Channels</div>
                    <div class="material-icons-font"><b>5</b></div> @*Temp KPI Indicator For Illustration*@
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="divCreateChannel" title="Create A New Channel" onclick="Navigate(id)">
            <div class="info-box bg-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">add_circle_outline</i>
                </div>
                <div class="content">
                    <div class="material-icons-font">Create New Channel</div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function Navigate(id) {
            switch (id) {
                case 'divViewUsers':
                    window.location.href = '/Users/Index';
                    break;
                case 'divChannels':
                    window.location.href = '/Channels/Index';
                    break;
                case 'divPrivateChats':
                    window.location.href = '';
                    break;
                case 'divJoinedChannels':
                    window.location.href = '';
                    break;
                case 'divMyChannels':
                    window.location.href = '';
                    break;
                case 'divCreateChannel':
                    window.location.href = '';
                    break;
            }
        }
    </script>
}