
<h1>Login Page - Work in Progress...</h1>

<div class="input-group mb-3">
    <input type="text" name="usernameOrEmailAddress" class="form-control" placeholder="Email Address">
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="material-icons">person</span>
        </div>
    </div>
</div>

<div class="input-group mb-3">
    <input type="password" class="form-control" name="Password" placeholder="Password">
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="material-icons">lock</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="button" value="Login" name="Login" class="btn btn-info" style="width: 100%">@*TODO: Create CSS prop for full width*@
    </div>
</div>
