@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-4">Welcome To The Blah Blah Chat App.</h1>
    </div>
</div>
<div clas="row">
    <div class="col-md-12 text-center">
        <i class="material-icons md-70">message</i>
    </div>
</div>
<hr />
<div class="md-Padding-Top-100">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h1>Login <i class="material-icons md-30">vpn_key</i></h1>
        </div>
    </div>

    <div class="row md-Padding-Top-10">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <input type="text" id="Email" name="Email" placeholder="Email Address" required="required" class="form-control">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="material-icons">person</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <input type="password" id="Password" name="Password" placeholder="Password" required="required" class="form-control">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="material-icons">lock</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.LoginStatus != null)
    {
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label class="alert-danger"><b>Login failed, please make sure your email and password are correct.</b></label>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input type="submit" value="Login" name="Login" onclick="authenticateUserLogin()" class="btn btn-info full-width">
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/userAuthentication.js"></script>
}




